useDynLib(knapsack, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

export(sac_a_dos)
export(sac_a_dos_glouton)
export(sac_a_dos_dp)
export(rcpp_sac_a_dos)
export(rcpp_sac_a_dos_glouton)
export(rcpp_sac_a_dos_dp)